@font-face {
	font-family: Ubuntu;
	src: local("Ubuntu Light"), local("Ubuntu-Light"), url(https://fonts.gstatic.com/s/ubuntu/v14/4iCv6KVjbNBYlgoC1CzjsGyL.woff) format("woff");
	font-weight: 300;
	font-style: normal;
}
