.flag {
	background: url("flags.png") no-repeat; width: 16px; height: 11px;
}
.flag-ao.flag {
	background-position: -16px 0px;
}
.flag-bf.flag {
	background-position: -32px 0px;
}
.flag-bi.flag {
	background-position: -48px 0px;
}
.flag-bj.flag {
	background-position: -64px 0px;
}
.flag-bw.flag {
	background-position: -80px 0px;
}
.flag-cd.flag {
	background-position: -96px 0px;
}
.flag-cf.flag {
	background-position: -112px 0px;
}
.flag-cg.flag {
	background-position: 0px -11px;
}
.flag-ci.flag {
	background-position: -16px -11px;
}
.flag-cm.flag {
	background-position: -32px -11px;
}
.flag-cv.flag {
	background-position: -48px -11px;
}
.flag-dj.flag {
	background-position: -64px -11px;
}
.flag-dz.flag {
	background-position: -80px -11px;
}
.flag-eg.flag {
	background-position: -96px -11px;
}
.flag-eh.flag {
	background-position: -112px -11px;
}
.flag-er.flag {
	background-position: 0px -22px;
}
.flag-et.flag {
	background-position: -16px -22px;
}
.flag-ga.flag {
	background-position: -32px -22px;
}
.flag-gb.flag {
	background-position: -48px -22px;
}
.flag-gh.flag {
	background-position: -64px -22px;
}
.flag-gm.flag {
	background-position: -80px -22px;
}
.flag-gn.flag {
	background-position: -96px -22px;
}
.flag-gq.flag {
	background-position: -112px -22px;
}
.flag-gw.flag {
	background-position: 0px -33px;
}
.flag-ke.flag {
	background-position: -16px -33px;
}
.flag-km.flag {
	background-position: -32px -33px;
}
.flag-lr.flag {
	background-position: -48px -33px;
}
.flag-ls.flag {
	background-position: -64px -33px;
}
.flag-ly.flag {
	background-position: -80px -33px;
}
.flag-ma.flag {
	background-position: -96px -33px;
}
.flag-mg.flag {
	background-position: -112px -33px;
}
.flag-ml.flag {
	background-position: 0px -44px;
}
.flag-mr.flag {
	background-position: -16px -44px;
}
.flag-mu.flag {
	background-position: -32px -44px;
}
.flag-mw.flag {
	background-position: -48px -44px;
}
.flag-mz.flag {
	background-position: -64px -44px;
}
.flag-na.flag {
	background-position: -80px -44px;
}
.flag-ne.flag {
	background-position: -96px -44px;
}
.flag-ng.flag {
	background-position: -112px -44px;
}
.flag-re.flag {
	background-position: 0px -55px;
}
.flag-rw.flag {
	background-position: -16px -55px;
}
.flag-sc.flag {
	background-position: -32px -55px;
}
.flag-sd.flag {
	background-position: -48px -55px;
}
.flag-sh.flag {
	background-position: -64px -55px;
}
.flag-sl.flag {
	background-position: -80px -55px;
}
.flag-sn.flag {
	background-position: -96px -55px;
}
.flag-so.flag {
	background-position: -112px -55px;
}
.flag-ss.flag {
	background-position: 0px -66px;
}
.flag-st.flag {
	background-position: -16px -66px;
}
.flag-sz.flag {
	background-position: -32px -66px;
}
.flag-td.flag {
	background-position: -48px -66px;
}
.flag-tg.flag {
	background-position: -64px -66px;
}
.flag-tn.flag {
	background-position: -80px -66px;
}
.flag-tz.flag {
	background-position: -96px -66px;
}
.flag-ug.flag {
	background-position: -112px -66px;
}
.flag-us.flag {
	background-position: 0px -77px;
}
.flag-yt.flag {
	background-position: -16px -77px;
}
.flag-za.flag {
	background-position: -32px -77px;
}
.flag-zm.flag {
	background-position: -48px -77px;
}
.flag-zw.flag {
	background-position: -64px -77px;
}
.btn-inverse {
	border-color: rgb(17, 16, 16); color: rgb(255, 255, 255); background-color: rgb(17, 16, 16) !important;
}
